{{!-- Displays all articles in the database on the homepage --}}

{{#each blogs as |blog|}}
  <article class="blog-post">
    <h2 class="blog-post-title mb-1">{{blog.post_title}}</h2>
    <p class="blog-post-topic mb2 text-success">{{blog.post_topic}}</p>
    <p class="blog-post-meta">{{format_date blog.createdAt}}
      <p>Contributed By: {{blog.user.username}}</p>
    <a href="/blog/{{blog.post_id}}">View Article</a>
  </article>
  <hr />
{{/each}}

