{{> navbar}}
<section id="blogPost-section">
  <div class="container">
    <div class="card">
      <div class="card-header">
        Featured Article
      </div>
      <div class="card-body">
        <h2 class="card-title">{{blog.post_title}}</h2>
        <p>By: {{blog.user.username}}</p>
        <p>{{format_date blog.createdAt}}</p>
        <p class="card-text">{{blog.post_content}}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Comments
      </div>
      <div class="card-body">
        <ul>
          {{#each blog.comments as |comment|}}
            <li>{{comment.comment_text}}</li>
            <hr>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>

<script src="/js/blogPost.js"></script>