{{> navbar}}

{{!-- displays featured article --}}
<section id="blogPost-section">
  <div class="container">
    <div class="card mb-3">
      <div class="card-header bg-dark text-white">
        Featured Article
      </div>
      <div class="card-body">
        <h2 class="card-title">{{blog.post_title}}</h2>
        {{!-- This post-id is used for API calls --}}
        <p class="d-none" id="post-id">{{blog.post_id}}</p>
        <p>By: {{blog.user.username}}</p>
        <p>{{format_date blog.createdAt}}</p>
        <p class="card-text">{{blog.post_content}}</p>
      </div>
          {{#checkUser sessionData blog}}
    <div>
      <button type="button"
            class="btn btn-secondary"
            data-toggle="modal"
            data-target="#exampleModal" id="edit-btn">Edit Article</button>
      <button class="btn btn-secondary" id="delete-btn">Delete Article</button>
    </div>
    {{/checkUser}}
    </div>

{{!-- Adding a comment if logged in --}}
{{#if sessionData.isLoggedIn}}
    <div class="container">
      <div class="card mb-3">
        <div class="card-header bg-dark text-white">
          Add a Comment
        </div>
        <div class="card-body d-flex flex-column">
          <textarea class="form-control mb-4" id="comment-text" rows="5" placeholder="Add Comment Here..."></textarea>
          <button class="btn btn-outline-secondary" id="comment-btn">Add Comment</button>
        </div>
      </div>
    </div>
    {{/if}}

    <div class="card">
      <div class="card-header bg-dark text-white">
        Comments
      </div>
      <div class="card-body">
        <ul>
          {{#each blog.comments as |comment|}}
            <p>{{comment.user.username}}</p> 
              <p>Date: {{format_date comment.createdAt}}</p>
            <li>{{comment.comment_text}}</li>
            <hr />
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>

{{!-- Modal --}}
 <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title text-white" id="exampleModalLabel">Edit Your Article</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body col 12">
          <div class="container" id="modalBody">
            <div class="row">
              <form class="col-12 justify-content-center align-items-center">
                <div class="container" id="blog-container">
                  <h2>Edit A Post</h2>
                  <label for="blog-title">Blog Title</label>
                  <input type="text" id="blog-title" />
                  <label for="blog-topic">Topic</label>
                  <input type="text" id="blog-topic" />
                  <div class="form-group justify-content-center">
                    <label for="blog-text">Blog Text</label>
                    <textarea
                      class="form-control"
                      id="blog-text"
                      rows="10"
                    ></textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary" id="submit-btn">Edit
            Post</button>
        </div>
      </div>
    </div>
  </div>

<script src="/js/blogPost.js"></script>